- name: Configure minecraft server
  become: true
  block:
    - name: Create server directory
      ansible.builtin.file:
        path: "{{ minecraft_home }}/{{ server_name }}"
        state: directory
        owner: "{{ minecraft_user }}"
        group: "{{ minecraft_group }}"
        mode: "0755"

    - name: Download server jar
      ansible.builtin.get_url:
        url: "{{ server_jar }}"
        dest: "{{ minecraft_home }}/{{ server_name }}/minecraft_server.{{ server_version }}.jar"
        owner: "{{ minecraft_user }}"
        group: "{{ minecraft_group }}"
        mode: "0644"

    - name: Link jar file to server.jar
      ansible.builtin.file:
        src: "{{ minecraft_home }}/{{ server_name }}/minecraft_server.{{ server_version }}.jar"
        dest: "{{ minecraft_home }}/{{ server_name }}/server.jar"
        owner: "{{ minecraft_user }}"
        group: "{{ minecraft_group }}"
        state: link

    - name: Deploy server.conf template
      ansible.builtin.template:
        src: server.conf.j2
        dest: "{{ minecraft_home }}/{{ server_name }}/server.conf"
        owner: "{{ minecraft_user }}"
        group: "{{ minecraft_group }}"
        mode: "0644"

    - name: Deploy server.properties template
      ansible.builtin.template:
        src: server.properties.j2
        dest: "{{ minecraft_home }}/{{ server_name }}/server.properties"
        owner: "{{ minecraft_user }}"
        group: "{{ minecraft_group }}"
        mode: "0644"

    - name: Copy whitelist.json
      ansible.builtin.copy:
        src: whitelist.json
        dest: "{{ minecraft_home }}/{{ server_name }}/whitelist.json"
        owner: "{{ minecraft_user }}"
        group: "{{ minecraft_group }}"
        mode: "0644"

    - name: Copy ops.json
      ansible.builtin.copy:
        src: ops.json
        dest: "{{ minecraft_home }}/{{ server_name }}/ops.json"
        owner: "{{ minecraft_user }}"
        group: "{{ minecraft_group }}"
        mode: "0644"

    - name: Copy eula.txt
      ansible.builtin.copy:
        src: eula.txt
        dest: "{{ minecraft_home }}/{{ server_name }}/eula.txt"
        owner: "{{ minecraft_user }}"
        group: "{{ minecraft_group }}"
        mode: "0644"
